
<%-include ("../../views/partials/user/header") %>


<style>
	.carousel-item {
		height: 500px; /* Adjust height as needed */
	}
	
	.carousel-item img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	
	/* Optional: Darken images for better text visibility */
	.carousel-item::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
	}
	
	/* Make carousel controls more visible */
	.carousel-control-prev,
	.carousel-control-next {
		width: 5%;
		opacity: 0.7;
	}
	
	.carousel-control-prev:hover,
	.carousel-control-next:hover {
		opacity: 1;
	}
	
	/* Style indicators */
	.carousel-indicators {
		bottom: 20px;
	}
	
	.carousel-indicators button {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		margin: 0 5px;
	}
</style>
		<!-- Main Menu Area -->
		
		<!-- End Main Menu Area -->

		<!-- Main Slider Area -->
		<!-- <div class="main-slider-area home-2">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						< Main Slider -->
						<!-- <div class="main-slider">
							<div class="slider">
								<div id="mainSlider" class="nivoSlider slider-image">
									<a href="#"><img src="assets/images/slider/slider3.webp" alt="main slider"></a>
									<a href="#"><img src="assets/images/slider/slider4.webp" alt="main slider"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		
		<!-- Top Banner Area -->
		<div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
			<!-- Indicators -->
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
				<button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
			</div>
		
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="assets/images/banner/b1.jpeg" class="d-block w-100" alt="Banner 1">
				</div>
				<div class="carousel-item">
					<img src="assets/images/banner/b4.jpeg" class="d-block w-100" alt="Banner 2">
				</div>
				<div class="carousel-item">
					<img src="assets/images/banner/b3.jpeg" class="d-block w-100" alt="Banner 3">
				</div>
				<div class="carousel-item">
					<img src="assets/images/banner/b2.jpeg" class="d-block w-100" alt="Banner 4">
				</div>
			</div>
		
			<!-- Controls -->
			<button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		
		<!-- Single Product Area -->
		<div class="single-product-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- Single Product Tab -->
						<div class="single-product-tab custom-tab">
							<!-- Tabs Bar -->
							<ul class="nav nav-tabs" role="tablist">
								<li><a class="active" href="#bestseller" data-bs-toggle="tab">Bestseller Products</a></li>
								<li><a href="#most-viewed" data-bs-toggle="tab">Most Viewed Products</a></li>
								<li><a href="#random" data-bs-toggle="tab">Random Products</a></li>
							</ul><!-- End Tabs Bar -->
							<!-- Tab Content-->
							<div class="tab-content">
								<!-- Tab Pane-->
								<div class="tab-pane active" id="bestseller">
									<!-- Bestsell Carousel -->
									<div id="bestsell-carousel" style="width: 100%;justify-content:space-between ;" class="owl-carousel custom-carousel">


										<!-- Single Product -->
										 <% for(let i =0 ; i < products.length ; i++) { %>
										<div class="singel-product single-product-col">
											<input  id="productId"  type="hidden" value="<%=products[i]._id%>">
											<div class="label-pro-new">New</div>

											
		                                     <!-- Single Product Image -->
                                             <div class="single-product-img" >
												<a href="/productinfo?id=<%=products[i]._id%>"><img src="<%=products[i].productImage[0]%>" alt="product" style="width: 23rem;height: 15rem;"></a>
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum"><%=products[i].productName%></a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p>₹<%= products[i].salePrice%></p>
												</div>
												<!-- Single Product Actions -->
												 
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															
															<!-- <li class="quic-view"> -->
																
																 <!-- <button  id="delails">
																	<a href="/productinfo?id=<%=products[i]._id%>">
																	 data-bs-target="#productModal" data-bs-toggle="modal"
																	<i class="fa fa-search"></i> Quick view
																</a>
																</button>  -->
														
															<!-- </li> -->
														
															
																<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<!-- <li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li> -->
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div>
										<% }%>
										
										
										
										
									</div><!-- Bestsell Carousel -->
								</div><!-- End Tab Pane-->
								<!-- Tab Pane-->
								<div class="tab-pane" id="most-viewed">
									<!-- Most Viewed Carousel -->
									<div id="most-viewed-carousel" class="owl-carousel custom-carousel">
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-new">New</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<a href="#"><img src="/assets/images/mostviewProducts/b1.jpeg" alt="product"></a>
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Donec non est</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-new">New</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<a href="#"><img src="/assets/images/mostviewProducts/b5.jpeg" alt="product"></a>
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Cras neque metus</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-sale">hot</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<a href="#"><img src="/assets/images/mostviewProducts/b2.jpeg" alt="product"></a>
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Fusce aliquam</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p><span>$175.00</span>$125.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-sale">hot</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<a href="#"><img src="/assets/images/mostviewProducts/b3.jpeg" alt="product"></a>
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Cras neque metus</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p><span>$345.00</span>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-sale">hot</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<a href="#"><img src="/assets/images/mostviewProducts/b4.jpeg" alt="product"></a>
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">consequences</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p><span>$345.00</span>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-new">New</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<a href="#"><img src="/assets/images/mostviewProducts/b5.jpeg" alt="product"></a>
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Nunc facilisis</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-new">New</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<a href="#"><img src="assets/images/products/s6.webp" alt="product"></a>
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">occaecati cupiditate</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-new">New</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<a href="#"><img src="assets/images/products/s4.webp" alt="product"></a>
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Proin lectus ipsum</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-sale">hot</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<a href="#"><img src="assets/images/products/s8.webp" alt="product"></a>
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Accumsan elit</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p><span>$345.00</span>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-new">New</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<a href="#"><img src="assets/images/products/s6.webp" alt="product"></a>
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Proin lectus ipsum</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
									</div><!-- Most Viewed Carousel -->
								</div><!-- End Tab Pane-->
								<!-- Tab Pane-->
								<div class="tab-pane" id="random">
									<!-- Random Carousel -->
									<div id="random-carousel" class="owl-carousel custom-carousel">
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-sale">hot</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<a href="#"><img src="/assets/images/mostviewProducts/b6.jpeg" alt="product"></a>
											</div>


<!-- 											
											Single Product Content
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Etiam gravida</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p><span>$111.00</span>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-new">New</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<a href="#"><img src="/assets/images/mostviewProducts/b3.jpeg" alt="product"></a>
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Proin lectus ipsum</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-sale">hot</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<a href="#"><img src="/assets/images/mostviewProducts/b5.jpeg" alt="product"></a>
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html"> Donec ac tempus </a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p><span>$114.00</span>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-sale">hot</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<!-- <a href="#"><img src="assets/images/products/s3.webp" alt="product"></a> -->
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Proin lectus ipsum</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p><span>$345.00</span>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-new">New</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<!-- <a href="#"><img src="assets/images/products/s1.webp" alt="product"></a> -->
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Nunc facilisis</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-new">New</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<!-- <a href="#"><img src="assets/images/products/s2.webp" alt="product"></a> -->
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">consequences</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-new">New</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<!-- <a href="#"><img src="assets/images/products/s6.webp" alt="product"></a> -->
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Proin lectus ipsum</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-new">New</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<!-- <a href="#"><img src="assets/images/products/s5.webp" alt="product"></a> -->
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Quisque in arcu</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-sale">hot</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<!-- <a href="#"><img src="assets/images/products/s4.webp" alt="product"></a> -->
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Proin lectus ipsum</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
										<!-- Single Product -->
										<div class="singel-product single-product-col">
											<div class="label-pro-sale">hot</div>
											<!-- Single Product Image -->
											<div class="single-product-img">
												<!-- <a href="#"><img src="assets/images/products/s3.webp" alt="product"></a> -->
											</div>
											<!-- Single Product Content -->
											<div class="single-product-content">
												<h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">Cras neque metus</a></h2>
												<div class="ratings">
													<div class="rating-box">  
														<div class="rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>  
													</div>
												</div>
												<div class="product-price">
													<p><span>$345.00</span>$99.00</p>
												</div>
												<!-- Single Product Actions -->
												<div class="product-actions">
													<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
													<div class="add-to-link">
														<ul class="">
															<li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
															<li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
															<li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
														</ul>
													</div>
												</div><!-- End Single Product Actions -->
											</div><!-- End Single Product Content -->
										</div><!-- End Single Product -->
									</div><!-- Random Carousel -->
								</div><!-- End Tab Pane-->
							</div><!-- End Tab Content-->
						</div><!-- End Single Product Tab -->
					</div>
				</div>
			</div>
		</div><!-- End Single Product Area -->

		
		<%-include ("../../views/partials/user/footer") %> 
		
				
		
		       
